hook:
	fromTracy: true
	toTracy: false
channel:
	default:
		handlers:
			-
				factory: Monolog\Handler\StreamHandler("php://stdout")
				setup:
					- setFormatter(Monolog\Formatter\JsonFormatter())
			- Mangoweb\MonologTracyHandler\TracyHandler(localBlueScreenDirectory: %logDir%, level: %minLevel%)
		processors:
			- Mangoweb\MonologTracyHandler\TracyProcessor(Apploud\Logger\Tracy\LocalStorageDriver(%logDirUrl%))
			- Monolog\Processor\WebProcessor()
			- Apploud\Logger\Processor\UuidProcessor()
holder:
	enabled: %holderEnabled%
manager:
	enabled: %managerEnabled%
